:root {
  --purple: #8284fa;
  --purple-dark: #5e60ce;

  --blue: #4ea8de;
  --blue-dark: #1e6f9f;

  --gray-700: #0d0d0d;
  --gray-600: #1a1a1a;
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-300: #808080;
  --gray-200: #d9d9d9;
  --gray-100: #f2f2f2;

  --danger: #e25858;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

:focus {
  border-color: var(--purple-dark);
  outline: none;
}

button {
  all: unset;
}

body,
input,
textarea,
button {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-600);
  line-height: 140%;

  min-width: 380px;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

@media (max-width: 736px) {
  *:not(strong) {
    font-size: 87.5%;
  }
}